/* Fonts */
@font-face {
	font-family: myriad-pro-bold;
	src: url(../fonts/MyriadPro-Bold.otf);
}

/* For customization*/

/* Text boxes */

/* Sthlm */
.tageweb .dark-orange-box, .dark-orange-box a, .dark-orange-box a:hover
	{
	background: #dd4a2c;
	color: #ffffff;
}

.tageweb .dark-pink-box, .dark-pink-box a, .dark-pink-box a:hover {
	background: #c40064;
	color: #ffffff;
}

.tageweb .light-orange-box, .light-orange-box a, .light-orange-box a:hover
	{
	background: #ffd7d2;
	color: #dd4a2c;
}

.tageweb .light-pink-box, .light-pink-box a, .light-pink-box a:hover {
	background: #fedeed;
	color: #c40064;
}

.tageweb .white-box, .white-box a, .white-box a:hover {
	background: #ffffff;
	color: #c40064;
}

/* End Sthlm */

/* Kungsbacka */
.tageweb .orange-box, .orange-box a, .orange-box a:hover {
	background: #e35025;
	color: #ffffff;
}

.tageweb .pink-box, .pink-box a, .pink-box a:hover {
	background: #d22f62;
	color: #ffffff;
}

.tageweb .dark-blue-box, .dark-blue-box a, .dark-blue-box a:hover {
	background: #006b87;
	color: #ffffff;
}

.tageweb .light-blue-box, .light-blue-box a, .light-blue-box a:hover {
	background: #d6edfc;
	color: #006b87;
}

.tageweb .white-box, .white-box a, .white-box a:hover {
	background: #ffffff;
	color: #3f3f3f;
}

/* End Kungsbacka */

/*End text boxes*/
.tageweb .content-header .button {
	background: #f5f3ee;
	color: #000;
	border: 1px solid #dadada;
	border-radius: 5px;
	margin-left: 5px;
	margin-top: 5px;
}

.tageweb .content-header .primary-button {
	background: #9b2864;
	color: #ffffff;
	border: 1px solid #9b2864;
	border-radius: 5px;
	margin-left: 5px;
	margin-top: 5px;
}

.tageweb .info-box {
	/*background : #f5f3ee;*/
	background: #d6edfc;
}

.tageweb .info-message {
	background: #d6edfc;
}

.tageweb .confirmation-message {
	background: #d6edfc;
}

.tageweb .error-message {
	background: #d22f62;
	color: #ffffff;
}

/* Liferay overrides */
/* ---------- Navigation ---------- */
.aui #navigation .navbar-inner {
	background: #73be78;
	border-width: 0;
	min-height: 49px;
}

.aui #navigation .nav li.active>a {
	background-color: #d0e6cc;
	color: #3f3f3f;
	background-image: none;
}

.aui #navigation .nav li.hover>a {
	background-color: #d0e6cc;
	color: #3f3f3f;
	background-image: none;
}

.aui #footer {
	border-top: 10px solid #c0b89f;
}

.aui body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media ( max-width : 979px) {
	.aui #heading .site-title img {
		width: 60px;
		margin-bottom: 10px;
	}
}

/* KBA */
/*
#_145_dockbar {
    background: #d3d53a;
    width: 100%;
    height: 44px;
    position: fixed;
}
*/
/* KBA upper login bar, only non mobile*/
.aui .dockbar-split.dockbar-ready .dockbar .navbar-inner {
	background: #23557d;
	width: 100%;
	height: auto;
}

.aui .dockbar-split .dockbar .navbar-inner .nav li.dropdown.open>.dropdown-toggle
	{
	background-color: #9b2864 !important;
	background-image: none !important;
}

.aui .dockbar-split .dockbar .navbar-inner .nav li:hover {
	background-color: #9b2864 !important;
	background-image: none !important;
}

.aui .dockbar .nav li.dropdown .dropdown-menu, .aui .dockbar .nav li.dropdown .site-administration-menu
	{
	background: #9b2864 !important;
}

.user-avatar-link:hover {
	background-color: #9b2864 !important;
}

.aui .nav-account-controls li {
	background-color: #23557d !important;
	background-image: none !important;
	color: #ffffff;
}

.aui .nav-account-controls .my-sites-menu li {
	background: #9b2864 !important;
	color: #ffffff;
}

.header-logo {
	float: right;
	padding-bottom: 20px;
}

.site-title {
	top: 68px;
	position: relative;
}

.site-navigation {
	clear: both;
}

.aui #navigation .navbar-inner li a {
	color: #3f3f3f;
}

.aui .dockbar-split .dockbar .navbar-inner .nav-account-controls {
	border: none;
}

.aui .dockbar-split .dockbar.navbar-static-top .collapse .nav-account-controls
	{
	position: relative;
}

#recycling {
	background: url(../images/recycling.png) repeat-x scroll 0 transparent;
	bottom: 0;
	z-index: 200;
	height: 170px;
	padding-top: 50px;
}

.aui .tageweb .large-box p, .aui .tageweb .large-box ul {
	font-family: "Georgia", Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 25px;
}

.aui h1, .aui h2, .aui h3, .aui .lfr-nav-item {
	font-family: "myriad-pro-bold", Helvetica, Arial, sans-serif;
}

@media ( min-width : 980px) {
	.aui .site-title {
		font-size: 60px;
	}
}

@media ( min-width : 980px) {
	.tageweb h1 {
		font-size: 28px;
		line-height: 33px;
	}
}

.aui .mobile-title {
	font-family: "myriad-pro-bold", Helvetica, Arial, sans-serif;
	font-size: 30px;
	color: #3F3F3F;
}

@media ( min-width : 980px) {
	.aui .mobile-title {
		display: none;
	}
}

@media ( max-width : 979px) {
	.aui .header-logo {
		display: none;
	}
	.aui .site-title {
		display: none;
	}
	.aui #navigation.open .navbar-inner {
		margin-bottom: 30px;
	}
}

#display-option-section {
	display: none;
}